<section class="about about-reverse">
  <div class="container about-container">
    <h2 class="visually-hidden">About our hotel</h2>

    <div class="about-block-1">
      <div class="about-block-1-wrap">
        <div class="about-subtitle">Amet minim mollit non</div>
        <div class="about-title">MIMIHO</div>
        <p class="about-text-1">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ./images/desktop/main/about-hotel-1.jpg    1x,
            ./images/desktop/main/about-hotel-1-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/tablet/main/about-hotel-1.jpg    1x,
            ./images/tablet/main/about-hotel-1-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/mobile/main/about-hotel-1.jpg    1x,
            ./images/mobile/main/about-hotel-1-2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          class="about-image-1"
          src="./images/mobile/main/about-hotel-1.jpg"
          alt="About our hotel 1"
          width="244"
        />
      </picture>
    </div>

    <div class="about-block-2">
      <p class="about-text-2">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>

      <picture>
        <source
          srcset="
            ./images/desktop/main/about-hotel-2.jpg    1x,
            ./images/desktop/main/about-hotel-2-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/tablet/main/about-hotel-2.jpg    1x,
            ./images/tablet/main/about-hotel-2-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/mobile/main/about-hotel-2.jpg    1x,
            ./images/mobile/main/about-hotel-2-2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          class="about-image-2"
          src="./images/mobile/main/about-hotel-2.jpg"
          alt="About our hotel 2"
          width="200"
        />
      </picture>
    </div>
  </div>
</section>
