<section class="contacts-main">
  <div class="container container-contacts-main">
    <h2 class="visually-hidden">Контакти</h2>
    <address class="contacts-wrap">
      <div class="left-column">
        <a href="./index.html" class="contacts-title">Mimino</a>
        <div class="contacts-subtitle">Ресторанно-готельний комплекс</div>
        <ul class="address-list list">
          <li class="address-item">
            <div class="address-label">Ресторан</div>
            <a class="address-link" href="tel:0955559533">
              <svg class="address-icon">
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>
              <span class="address-text">095 555 95 33</span>
            </a>
          </li>
          <li class="address-item">
            <div class="address-label">Готель</div>
            <a class="address-link" href="tel:0668491089">
              <svg class="address-icon">
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>
              <span class="address-text">066 849 10 89</span>
            </a>
          </li>
          <li class="address-item">
            <div class="address-label"></div>
            <a
              class="address-link"
              href="https://maps.app.goo.gl/yt9WpKn5zBUehkwM7"
              rel="noonepener noreferrer nofollow"
              target="_blank"
            >
              <svg class="address-icon">
                <use href="./images/icons.svg#icon-location"></use>
              </svg>
              <span class="address-text">
                Україна, м. Полтава,<br />
                вул. Маршала Бірюзова, 15</span
              >
            </a>
          </li>
        </ul>
      </div>
      <div class="right-column">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1087.26335043832!2d34.525690994744295!3d49.59845426682702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0YPQuy4g0KDQtdGI0LXRgtC40LvQvtCy0YHQutCw0Y8sIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDM2MDAw!5e0!3m2!1sru!2sua!4v1751450788360!5m2!1sru!2sua"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </address>
  </div>
</section>
