<section class="hero hero-main">
  <div class="container">
    <h1 class="hero-title">Mimino</h1>
    <h2 class="hero-subtitle">Ресторанно-готельний комплекс</h2>
    <p class="hero-text">Смак життя 24/7</p>

    <div class="wrap-address-and-buttons">
    <a
      class="hero-adress-link"
      href="https://maps.app.goo.gl/yt9WpKn5zBUehkwM7"
      rel="noonepener noreferrer nofollow"
      target="_blank"
    >
      <div class="hero-address">
        <div class="hero-address-wrap">
          <svg class="hero-address-icon">
            <use href="./images/icons.svg#icon-location"></use>
          </svg>
          <div class="hero-address-text">
            Україна, м. Полтава, <br />
            вул. Маршала Бірюзова, 15
          </div>
        </div>
      </div>
    </a>

    <div class="wrap-buttons">
      <button class="btn-light" type="button">
        Забронювати столик
      </button>
      <button class="btn-light" type="button">
        Забронювати номер
      </button>
    </div>
  </div>

  <ul class="hero-social-list list">
    <li>
      <a href="#" target="_blank" rel="noonepener noreferrer nofollow">
        <svg class="header-social-icon">
          <use href="./images/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#" target="_blank" rel="noonepener noreferrer nofollow">
        <svg class="header-social-icon">
          <use href="./images/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#" target="_blank" rel="noonepener noreferrer nofollow">
        <svg class="header-social-icon">
          <use href="./images/icons.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
