<section class="info-hotel">
  <div class="container info-hotel-container">
    <h2 class="visually-hidden">More about our hotel</h2>
    <div class="info-hotel-title">MIMIHO</div>
    <div class="info-hotel-subtitle">Ресторан</div>
    <p class="info-hotel-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <div class="info-hotel-wrap-buttons-and-slider">
      <picture>
        <source
          srcset="
            ./images/desktop/main/info-hotel-1.jpg    1x,
            ./images/desktop/main/info-hotel-1-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/tablet/main/info-hotel-1.jpg    1x,
            ./images/tablet/main/info-hotel-1-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/mobile/main/info-hotel-1.jpg    1x,
            ./images/mobile/main/info-hotel-1-2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          class="info-hotel-image"
          src="./images/mobile/main/info-hotel-1.jpg"
          alt="More about our hotel"
          height="270"
        />
      </picture>

      <div class="info-hotel-wrap-buttons">
        <button class="btn-light" type="button">Забронювати номер</button>
        <button class="btn-light" type="button">Переглянути ціни</button>
      </div>
    </div>
  </div>
</section>
