@use '../utils/module' as utils;
@import 'modern-normalize';
    
body {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 600;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @include utils.desktop {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}