@font-face {
    font-family: "Film P3 Bold";
    src: url("../fonts/FilmP3Bold.ttf"); 
}
    
body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @include desktop {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}