@use '../../utils/module' as utils;

.hero-hotel {
    background-image: var(--hero-gradient), url(../images/mobile/hotel/hero.jpg);

    @include utils.retina {
        background-image: var(--hero-gradient), url(../images/mobile/hotel/hero-2x.jpg);
    }

    @include utils.tablet {
        background-image: var(--hero-gradient), url(../images/tablet/hotel/hero.jpg);

        @include utils.retina {
            background-image: var(--hero-gradient), url(../images/tablet/hotel/hero-2x.jpg);
        }
    }

    @include utils.desktop {
        background-image: var(--hero-gradient), url(../images/desktop/hotel/hero.jpg);

        @include utils.retina {
            background-image: var(--hero-gradient), url(../images/desktop/hotel/hero-2x.jpg);
        }
    }
}