<section class="about">
  <div class="container about-container">
    <h2 class="visually-hidden">About our restaurant</h2>

    <div class="about-block-1">
      <div class="about-block-1-wrap">
        <div class="about-subtitle">Amet minim mollit non</div>
        <div class="about-title">MIMIHO</div>
        <p class="about-text-1">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ./images/desktop/homepage/about-restaurant-1.jpg    1x,
            ./images/desktop/homepage/about-restaurant-1-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/tablet/homepage/about-restaurant-1.jpg    1x,
            ./images/tablet/homepage/about-restaurant-1-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/mobile/homepage/about-restaurant-1.jpg    1x,
            ./images/mobile/homepage/about-restaurant-1-2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          class="about-image-1"
          src="./images/mobile/homepage/about-restaurant-1.jpg"
          alt="About our restaurant 1"
          width="244"
        />
      </picture>
    </div>

    <div class="about-block-2">
      <picture>
        <source
          srcset="
            ./images/desktop/homepage/about-restaurant-2.jpg    1x,
            ./images/desktop/homepage/about-restaurant-2-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/tablet/homepage/about-restaurant-2.jpg    1x,
            ./images/tablet/homepage/about-restaurant-2-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/mobile/homepage/about-restaurant-2.jpg    1x,
            ./images/mobile/homepage/about-restaurant-2-2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          class="about-image-2"
          src="./images/mobile/homepage/about-restaurant-2.jpg"
          alt="About our restaurant 2"
          width="200"
        />
      </picture>

      <p class="about-text-2">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
  </div>
</section>
