<section class="menu">
  <div class="container menu-container">
    <h2 class="menu-title">Меню ресторану</h2>
    <div class="menu-wrap-tables">
      <table class="menu-table">
        <tbody>
          <tr>
            <td class="menu-dish-category-title" colspan="3">Гарячі страви</td>
          </tr>
          <tr>
            <td>
                <div class="menu-dish-title">Борщ з телятини з квасолею</div>
                <div class="menu-dish-description">
                Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                помідори, зелень, сметана
                </div>
            </td>
            <td class="menu-dish-weight">400 г</td>
            <td class="menu-dish-price">240 грн</td>
          </tr>
          <tr>
            <td>
                <div class="menu-dish-title">Суп сирний з куркою</div>
                <div class="menu-dish-description">
                Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
                </div>
            </td>
            <td class="menu-dish-weight">400 г</td>
            <td class="menu-dish-price">200 грн</td>
          </tr>
         
          <tr>
            <td>
                <div class="menu-dish-title">Паста карбонара</div>
                <div class="menu-dish-description">Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</div>
            </td>
            <td class="menu-dish-weight">350 г</td>
            <td class="menu-dish-price">430 грн</td>
          </tr>
         
          <tr>
            <td>
                <div class="menu-dish-title">Стейк зі свинини</div>
                <div class="menu-dish-description">
                  Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                  овочами
                </div>
            </td>
            <td class="menu-dish-weight">400 г</td>
            <td class="menu-dish-price">500 грн</td>
          </tr>
          <tr>
            <td> 
              <div class="menu-dish-title">Горбуша в соусі з білого вина</div>
              <div class="menu-dish-description">
                Ніжна горбуша, вершковий соус на основі білого вина
              </div>
            </td>
            <td class="menu-dish-weight">400 г</td>
            <td class="menu-dish-price">400 грн</td>
          </tr>
          <tr>
            <td class="menu-dish-category-title" colspan="3">Гарніри та закуски</td>
          </tr>  
          <tr>
            <td>
                <div class="menu-dish-title">Запечені овочі</div>
                <div class="menu-dish-description">
                    Кабачок, перець, помідор, баклажан
                </div>
            </td>
            <td class="menu-dish-weight">200 г</td>
            <td class="menu-dish-price">230 грн</td>
          </tr>
          <tr>
            <td>
                <div class="menu-dish-title">Картопля фрі</div>
                <div class="menu-dish-description">Картопля, соус томатний</div>
            </td>
            <td class="menu-dish-weight">150 г</td>
            <td class="menu-dish-price">160 грн</td>
          </tr>
          <tr>
            <td>
                <div class="menu-dish-title">Картопля по-селянськи</div>
                <div class="menu-dish-description">
                    Картопля, спеції, соус пікантний
                </div>
            </td>
            <td class="menu-dish-weight">150 г</td>
            <td class="menu-dish-price">160 грн</td>
          </tr>
          <tr>
            <td>
                <div class="menu-dish-title">Хрумкі соління з бочки</div>
                <div class="menu-dish-description">
                    Огірок солений, помідор квашений, квашена капуста, морква
                    по-корейські
                </div>
            </td>
            <td class="menu-dish-weight">250 г</td>
            <td class="menu-dish-price">350 грн</td>
          </tr>
          <tr>
            <td>
                <div class="menu-dish-title">Крильця курячі в медовому соусі</div>
                <div class="menu-dish-description">
                    Крильця курячі, гірчично-медовий соус, подається з морквою,
                    селерою і соусом блючиз
                  </div>
            </td>
            <td class="menu-dish-weight">400 г</td>
            <td class="menu-dish-price">420 грн</td>
          </tr>
        </tbody>
      </table>

      <table class="menu-table">
        <tbody>
          <tr>
            <td class="menu-dish-category-title" colspan="3">Салати</td>
          </tr>
          <tr>
            <td>
                <div class="menu-dish-title">Цезар з куркою</div>
                <div class="menu-dish-description">
                    Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                    соус цезар
                  </div>
            </td>
            <td class="menu-dish-weight">230 г</td>
            <td class="menu-dish-price">450 грн</td>
          </tr>
          <tr>
            <td>
                <div class="menu-dish-title">Цезар з креветками</div>
                <div class="menu-dish-description">
                    Тигрові креветки, листя салату, помідори чері, сир пармезан,
                    грінки, соус цезар
                  </div>
            </td>
            <td class="menu-dish-weight">230 г</td>
            <td class="menu-dish-price">300 грн</td>
          </tr>
          <tr>
            <td>
                <div class="menu-dish-title">Грецький салат</div>
                <div class="menu-dish-description">
                    Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                    листя салату, соус
                  </div>
            </td>
            <td class="menu-dish-weight">230 г</td>
            <td class="menu-dish-price">280 грн</td>
          </tr>
          <tr>
            <td>
                <div class="menu-dish-title">М’ясний салат</div>
                <div class="menu-dish-description">
                    Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                    болгарський перець, соус ранч
                </div>
            </td>
            <td class="menu-dish-weight">230 г</td>
            <td class="menu-dish-price">300 грн</td>
          </tr>

          <tr>
            <td class="menu-dish-category-title" colspan="3">Десерти</td>
          </tr>
          <tr>
            <td>
                <div class="menu-dish-title">Торт наполеон</div>
                <div class="menu-dish-description"></div>
            </td>
            <td class="menu-dish-weight">230 г</td>
            <td class="menu-dish-price">300 грн</td>
          </tr>
          <tr>
            <td>
                <div class="menu-dish-title">Торт маковий</div>
                <div class="menu-dish-description"></div>
            </td>
            <td class="menu-dish-weight">230 г</td>
            <td class="menu-dish-price">300 грн</td>
          </tr>
          <tr>
            <td>
                <div class="menu-dish-title">Тірамісу</div>
                <div class="menu-dish-description"></div>
            </td>
            <td class="menu-dish-weight">120 г</td>
            <td class="menu-dish-price">260 грн</td>
          </tr>

          <tr>
            <td class="menu-dish-category-title" colspan="3">Напої</td>
          </tr>
          <tr>
            <td>
                <div class="menu-dish-title">Чай чорний/зелений</div>
                <div class="menu-dish-description"></div>
            </td>
            <td class="menu-dish-weight">500 мл</td>
            <td class="menu-dish-price">100 грн</td>
          </tr>
          <tr>
            <td>
                <div class="menu-dish-title">Еспресо</div>
                <div class="menu-dish-description"></div>
            </td>
            <td class="menu-dish-weight">30 мл</td>
            <td class="menu-dish-price">100 грн</td>
          </tr>
          <tr>
            <td>
                <div class="menu-dish-title">Американо</div>
                <div class="menu-dish-description"></div>
            </td>
            <td class="menu-dish-weight">150 мл</td>
            <td class="menu-dish-price">100 грн</td>
          </tr>
          <tr>
            <td>
                <div class="menu-dish-title">Капучино</div>
                <div class="menu-dish-description"></div>
            </td>
            <td class="menu-dish-weight">200 мл</td>
            <td class="menu-dish-price">160 грн</td>
          </tr>
          <tr>
            <td>
                <div class="menu-dish-title">Лате</div>
                <div class="menu-dish-description"></div>
            </td>
            <td class="menu-dish-weight">200 мл</td>
            <td class="menu-dish-price">160 грн</td>
          </tr>
        </tbody>
      </table>
    </div>
        <button
        class="btn-dark btn-order-menu"
        type="button"
        data-modal-book-table-open
        >
        Забронювати столик
        </button>
</section>
