<footer class="footer">
  <a href="./index.html" class="footer-logo">Mimino</a>
  <div class="footer-wrap-menu">
    <ul class="footer-menu list">
      <li class="footer-menu-item">
        <a href="" class="footer-menu-link">Головна</a>
      </li>
      <li class="footer-menu-item">
        <a href="" class="footer-menu-link">Ресторан</a>
      </li>
      <li class="footer-menu-item">
        <a href="" class="footer-menu-link">Готель</a>
      </li>
    </ul>
    <ul class="footer-social-list list">
      <li class="footer-social-item">
        <a
          class="footer-social-link"
          href=""
          target="_blank"
          rel="noonepener noreferrer nofollow"
        >
          <div class="footer-social-text">Telegram</div>
          <svg class="footer-social-icon">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a
          class="footer-social-link"
          href=""
          target="_blank"
          rel="noonepener noreferrer nofollow"
        >
          <div class="footer-social-text">Facebook</div>
          <svg class="footer-social-icon">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a
          class="footer-social-link"
          href=""
          target="_blank"
          rel="noonepener noreferrer nofollow"
        >
          <div class="footer-social-text">Instagram</div>
          <svg class="footer-social-icon">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
