<header class="header">
  <div class="header-container container">
    <nav class="header-navigation">
      <a href="./index.html" class="header-logo">Mimino</a>
      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="./restaurant.html">Ресторан</a>
        </li>
        <li class="header-nav-item header-nav-item-phone">
          <a href="tel: 0955559533">
            <svg class="header-phone-icon">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
          </a>
          <a class="header-nav-link-phone" href="tel:0955559533"
            >095 55 59 533</a
          >
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link header-nav-link-hotel" href="./hotel.html"
            >Готель</a
          >
        </li>
        <li class="header-nav-item header-nav-item-phone">
          <a href="tel:0668491089">
            <svg class="header-phone-icon">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
          </a>
          <a class="header-nav-link-phone" href="tel:0668491089"
            >066 849 10 89</a
          >
        </li>
      </ul>
      <ul class="header-social-list list">
        <li>
          <a href="#" target="_blank" rel="noonepener noreferrer nofollow">
            <svg class="header-social-icon">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noonepener noreferrer nofollow">
            <svg class="header-social-icon">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noonepener noreferrer nofollow">
            <svg class="header-social-icon">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>

    <a
      class="header-adress-link"
      href="https://maps.app.goo.gl/yt9WpKn5zBUehkwM7"
      rel="noonepener noreferrer nofollow"
      target="_blank"
    >
      <div class="header-address">
        <div class="header-address-wrap">
          <svg class="header-address-icon">
            <use href="./images/icons.svg#icon-location"></use>
          </svg>
          <div class="header-address-text">
            Україна, м. Полтава, <br />
            вул. Маршала Бірюзова, 15
          </div>
        </div>
      </div>
    </a>
  </div>
</header>
