<header class="header">
  <div class="header-container container">
    <nav class="header-navigation">
      <a href="./index.html" class="header-logo">Mimino</a>
      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Ресторан</a>
        </li>
        <li class="header-nav-item header-nav-item-phone">
          <a href="tel: 0955559533">
            <svg class="icon-phone">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
          </a>
          <a class="header-nav-link-phone" href="tel:0955559533"
            >095 55 59 533</a
          >
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link header-nav-link-hotel" href="">Готель</a>
        </li>
        <li class="header-nav-item header-nav-item-phone">
          <a href="tel:0668491089">
            <svg class="icon-phone">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
          </a>
          <a class="header-nav-link-phone" href="tel:0668491089"
            >066 849 10 89</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
