<section class="hotel-room about">
  <div class="container about-container">
    <h2 class="visually-hidden">Room 3</h2>

    <div class="about-block-1">
      <div class="about-block-1-wrap">
        <div class="about-subtitle">Amet minim mollit non</div>
        <div class="about-title">MIMIHO</div>
        <div class="hotel-room-title">ДВОМІСНИЙ НОМЕР</div>
        <p class="hotel-room-desc">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ./images/desktop/hotel/room.jpg    1x,
            ./images/desktop/hotel/room-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/tablet/hotel/room.jpg    1x,
            ./images/tablet/hotel/room-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/mobile/hotel/room.jpg    1x,
            ./images/mobile/hotel/room-2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          class="about-image-1"
          src="./images/mobile/hotel/room.jpg"
          alt="Room 3"
          width="244"
        />
      </picture>
    </div>
  </div>
</section>
