@use '../utils/module' as utils;

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @include utils.mobile {
      max-width: utils.getBreakpoint('mobile');
      color: red;
    }

    @include utils.tablet {
      max-width: utils.getBreakpoint('tablet');
      padding-left: 47px;
      padding-right: 47px;
      color: green;
    }

    @include utils.desktop {
      max-width: utils.getBreakpoint('desktop');
      padding-left: 85px;
      padding-right: 85px;
      color: blue;
    }
}