@use '../utils/module' as utils;

.header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    padding-top: 16px;
    padding-bottom: 20px;

    @include utils.tablet {
        padding-top: 24px;
        padding-bottom: 33px;
    }
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-family: var(--logo-font);
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: var(--primary-white-color);
    text-decoration: none;

    @include utils.tablet {
        font-size: 40px;
    }
}

.header-nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
}

.header-nav-item:nth-child(2n):not(:last-child) {
    margin-right: 14px;
}

.header-nav-item-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.2rem;
    border: 1px solid transparent;

    @include utils.tablet {
        padding: 8px;
        
        border: 1px solid var(--accent-color);
        border-radius: 2px;
        color: var(--primary-white-color);
    }
}

.header-nav-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.02rem;
    color: var(--accent-color);
    text-decoration: none;

    @include utils.tablet {
        font-size: 20px;
    }
}

.header-nav-link-phone {
    display: none;

    @include utils.tablet {
        display: block;
        margin-left: 4px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.2 rem;
        color: var(--primary-white-color);
        text-decoration: none;
    }
}

.header-phone-icon {
    width: 24px;
    height: 24px;
    fill: var(--accent-color);
}

/* Social links in header */
.header-social-list {
    display: none;

    @include utils.desktop {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }
}

.header-social-icon {
    width: 24px;
    height: 24px;
    fill: var(--accent-color);
}


/* Address in header */
.header-adress-link {
    text-decoration: none;

    @include utils.tablet {
        display: none;
    }
}

.header-address {
    display: flex;
    justify-content: flex-end;
}

.header-address-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    padding: 8px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
}

.address-text {
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.01rem;
    color: var(--address-text-color);
}

.icon-adress {
    width: 20px;
    height: 20px;
    fill: var(--accent-color);
}
